name: Update Data
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update_symbol_list:
    name: Update Data periodically
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'pip'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Script
        env:
          GKEY: ${{ secrets.GKEY }}
          GRAPH_KEY: ${{ secrets.GRAPH_KEY }}
        run: |
          python id_data_v2.py
          python id_data_v3.py
          python day_data.py
          python pair_data.py
          python bribe_data.py
          python fee_data.py
          python revenue_data.py
          python revenue_data_v2.py
          python tvl_data.py
      - name: Commit and Push Changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add logs data
          git commit -m "Updated Data on `date` with GitHub Actions" || echo "No Changes to Commit"
          git push origin main || echo "No Changes to Commit"
